*{
    background-color: black;
}
h1{
    
    color: whitesmoke;
    font-family: inherit;
    font-style: italic;
    font-size: 90px;
    text-align: center;
    cursor: pointer;
    transition: 2s;
    text-shadow: 0px 0px 20px aqua;

}